:root {
    --standar-width: 1144px;
    /* font-family */
    --body-font: 'Roboto', sans-serif;
    --heading-font: 'Anek Telugu', sans-serif;
    /* font-size */
    --h1-size: 94px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --p-size: 18px;
    --btn-size: 16px;
    --secondary-text-size: 14px;
    --subtitle-size: 17px;
    /* line-height */
    --h1-height: 108px;
    --h2-height: 75px;
    --subtitle-height: 26px;
    --secondary-text-height: 18px;
    --p-height: 26px;
    /* color */
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #adbbdc;
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --bg-white: #fff;
    --bg-light: #f7f9fc;
    --primary-accent: #0a2540;
    --btn-primary-hover: #6d7a88;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: var(--spacing-sm) 0 0 0;
    background-color: #00d4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: var(--h1-size);
    font-family: var(--heading-font);
    font-weight: 600;
    width: 100%;
    letter-spacing: -1px;
    line-height: var(--h2-height);
}

h2 {
    font-size: var(--h2-size);
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    letter-spacing: -0.25px;
    line-height: var(--h2-height);
    margin: 0;

}

h3 {
    font-size: var(--h3-size);
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;

}

h4 {
    font-size: var(--h4-size);
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    letter-spacing: 0.25px;
    margin: 0;

}

h5 {
    font-size: var(--h5-size);
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;

}

h6 {
    font-size: var(--h6-size);
    font-family: var(--heading-font);
    font-weight: 500;
    width: 100%;
    margin: 0;

}

p {
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}

a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: 500;
    transition: color 0.25s ease;
    letter-spacing: 0.5px;
}

a:hover {
    color: var(--primary-accent);
}

.subtitle,
subtitle2 {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
}

.subtitle2 {
    color: var(--blue-1);
}

.secondary-text {
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

.btn-primary {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--btn-size);
    letter-spacing: 0.5px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-accent);
    color: var(--text-light);
    transition: all 0.25s ease;
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
    cursor: pointer;
}


.btn-secondary {
    font-size: var(--btn-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    color: var(--primary-accent);
    transition: color 0.25s ease;
    background-color: transparent;
}

.btn-secondary:hover {
    cursor: pointer;
    opacity: 0.75;
}


.withicon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.withicon>img {
    transition: transform 0.25s ease;
}

.withicon:hover>img {
    transform: translateX(8px)
}


/* navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    max-width: var(--standar-width);
    padding: 0 var(--spacing-md)
}

.navbar .links a {
    margin: 0 var(--spacing-sm);
    color: var(--text-light);
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .navbar-btn {
    background-color: rgba(250, 250, 250, 0.25);

}

.navbar-btn:hover {
    background-color: rgba(250, 250, 250, 0.5);

}